# <div align = "center">Applied Data Science Capstone, Week 1<br>Part 1: Web Scraping</div>

The first part of the webscrapping was done on Spyder IDE using Selenium. For this second attempt at scrapping more information about available rental spaces, I will use Jupyter Notebook and selenium. What I look to achieve with this is getting more data, so I can get the average commercial rental on the most amount of neighbourhoods possible.

In [1]:
pip install Selenium

Requirement already satisfied: Selenium in h:\users\valhala\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in h:\users\valhala\anaconda3\lib\site-packages (from Selenium) (1.25.9)
Note: you may need to restart the kernel to use updated packages.

In [220]:
pip install geopy

Requirement already satisfied: geopy in h:\users\valhala\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in h:\users\valhala\anaconda3\lib\site-packages (from geopy) (1.50)
Note: you may need to restart the kernel to use updated packages.

# Web Scrapping
Fetching all the libraries I need to scrap the webpage:

In [1]:
#Libraries for scrapping 
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
from selenium import webdriver
import selenium
import pandas as pd
from bs4 import BeautifulSoup

#Libraries to assign neighbourhoods
import json
from shapely.geometry import shape, Point

In [68]:
#Setting up the webdriver
options = webdriver.FirefoxOptions()
options.set_headless(True)
driver = webdriver.Firefox(options = options)

<ipython-input-68-d15f3aae688c>:3: DeprecationWarning: use setter for headless property instead of set_headless
  options.set_headless(True)

In [69]:
#Defining the base url
url = "https://www.point2homes.com/CA/Commercial-Properties-For-Lease.html?location=Toronto,%20ON&PropertyType=Commercial&search_mode=location&Keywords=Retail&SelectedView=listings&LocationGeoId=783094&viewport=-79.84037484208983,43.519311936783744,-78.98962105791014,43.92176999910959&zoom=11&page="

In [70]:
#Defining a function to add the page number at the end of the url.
def add_url(page):
    return url + str(page)

In [71]:
#Define the empty dictionary to save the results:
temp = []

#Scrape 12 pages
for page in range(1,13):
    #Access the webpage:
    driver.get(add_url(page))
    
    #Get the amount of results per page:
    list_cnts = driver.find_elements_by_xpath("//div[@class = 'item-cnt clearfix  ']")
    
    #Go over each result of the webpage:
    for i in range(len(list_cnts)):
        address = driver.find_elements_by_xpath("//div[@class = 'item-right-details-cnt']/div[1]")[i].text
        area = driver.find_elements_by_xpath("//div[@class = 'item-right-details-cnt']/div[2]")[i].text
        rent = driver.find_elements_by_xpath("//div[@class = 'item-right-utils-cnt']/*/span[@class = 'green']")[i].text
        
        #While inspecting the page, I noticed there was a hidden element that was storing the coordinates of
        #the location. The only way I found out to get those out was by getting the raw html of that particular element,
        #then use BeautifulSoup to parse the HTML, then get the coordinates:
        
        #Getting the html of the element:
        right_html = driver.find_elements_by_xpath("//div[@class = 'item-right-utils-cnt']")[i].get_attribute('innerHTML')
        
        #Digging out the coordinates:
        coor_html = BeautifulSoup(right_html)
        try:
            lat = coor_html.find_all('input')[1].attrs['value']
            lon = coor_html.find_all('input')[2].attrs['value']
        except:
            lat = 'None'
            lon = 'None'
        
        #Storing the results on a dictionary:
        temp.append({"Address": address, "Area": area, 'Rent': rent, 'Latitude': lat, 'Longitude': lon})

#Convert to a dataframe the dictionary.        
rentals = pd.DataFrame(temp)
driver.close()
print('Done')

Done

In [72]:
rentals

,Address,Area,Rent,Latitude,Longitude
0,"1139 MORNINGSIDE AVE 37, Toronto, Ontario M1B0A7","3,500 Sqft Retail","$7,000 CAD / MONTH",43.6456634,-79.4749711
1,"480 Dundas St W 1/2Bsmt, Toronto, Ontario M5T1G9",1 Bath 0.023 ac Lot Size Commercial,"$3,800 CAD / MONTH",43.6533813,-79.3970697
2,"803 KING ST W, Toronto, Ontario M5V1N4","3,302 Sqft Retail",$69 CAD,43.6428481,-79.407235
3,"1225 Kennedy Rd 2000K1, Toronto, Ontario M1P 4Y1",0.009 ac Lot Size Commercial,"$2,900 CAD / MONTH",43.7561791,-79.2751536
4,"1270 Finch Ave W 2101, Toronto, Ontario M3J3J7",1 Bath 0.023 ac Lot Size Commercial,"$2,500 CAD / MONTH",43.765222,-79.488273
...,...,...,...,...,...
262,"817 DUNDAS ST W Main, Toronto, Ontario M6J1V4",720 Sqft Retail,"$2,600 CAD / MONTH",43.6515517,-79.4087347
263,"377 BROADVIEW AVE 101, Toronto, Ontario M4K2M7","1 Bath 1,219.9 Sqft Retail",$35 CAD,43.6658349,-79.3526172
264,"5629 YONGE AVE, Toronto, Ontario M2M3S9",169 Sqft Retail,"$3,980 CAD / MONTH",43.7805006,-79.4154526
265,"371 OLD KINGSTON RD 2, Toronto, Ontario M1C1B7",500 Sqft Retail,"$2,000 CAD / MONTH",43.7834364,-79.169776
266,"870 BROWNS LINE Bsmt., Toronto, Ontario M8W3W2",1 Bath 950 Sqft Retail,$750 CAD / MONTH,43.6098931,-79.5492086

In [73]:
rentals.to_csv('rentals2B.csv', index = False)

# Data cleaning
I would have preffered the Area column to be more clean, since it also has other attriutes such as amount of bathrooms and beds. In other cases it has no area information at all, while still having other information that it's not of my interest. Figuring out how to deal with that case proved to be beyond my skill with Xpath, Selenium and Beautiful Soup; also, I was running out of time to submit before the deadline. At the end I decided to clean the Area column with Pandas.

Dataframe cleanup and add the Neighbourhood number.

In [74]:
df = pd.read_csv('rentals2B.csv')
df

,Address,Area,Rent,Latitude,Longitude
0,"1139 MORNINGSIDE AVE 37, Toronto, Ontario M1B0A7","3,500 Sqft Retail","$7,000 CAD / MONTH",43.6456634,-79.4749711
1,"480 Dundas St W 1/2Bsmt, Toronto, Ontario M5T1G9",1 Bath 0.023 ac Lot Size Commercial,"$3,800 CAD / MONTH",43.6533813,-79.3970697
2,"803 KING ST W, Toronto, Ontario M5V1N4","3,302 Sqft Retail",$69 CAD,43.6428481,-79.407235
3,"1225 Kennedy Rd 2000K1, Toronto, Ontario M1P 4Y1",0.009 ac Lot Size Commercial,"$2,900 CAD / MONTH",43.7561791,-79.2751536
4,"1270 Finch Ave W 2101, Toronto, Ontario M3J3J7",1 Bath 0.023 ac Lot Size Commercial,"$2,500 CAD / MONTH",43.765222,-79.488273
...,...,...,...,...,...
262,"817 DUNDAS ST W Main, Toronto, Ontario M6J1V4",720 Sqft Retail,"$2,600 CAD / MONTH",43.6515517,-79.4087347
263,"377 BROADVIEW AVE 101, Toronto, Ontario M4K2M7","1 Bath 1,219.9 Sqft Retail",$35 CAD,43.6658349,-79.3526172
264,"5629 YONGE AVE, Toronto, Ontario M2M3S9",169 Sqft Retail,"$3,980 CAD / MONTH",43.7805006,-79.4154526
265,"371 OLD KINGSTON RD 2, Toronto, Ontario M1C1B7",500 Sqft Retail,"$2,000 CAD / MONTH",43.7834364,-79.169776
266,"870 BROWNS LINE Bsmt., Toronto, Ontario M8W3W2",1 Bath 950 Sqft Retail,$750 CAD / MONTH,43.6098931,-79.5492086

In [75]:
replace_val = {'Area' : {'Sqft Retail':'', 'ac Lot Size Commercial':'', ',':'', 'Retail' : '' , 'Commercial': 'None','.* Bath.*': '', '.* Bed.*': ''},
              'Rent' : {'\$': '', ' CAD / MONTH': '', 'CAD': '', ',':''},
              'Address': {', Ontario .*': ' ON'}}

In [76]:
df =  df.replace(replace_val, regex = True)
df

,Address,Area,Rent,Latitude,Longitude
0,"1139 MORNINGSIDE AVE 37, Toronto ON",3500,7000,43.6456634,-79.4749711
1,"480 Dundas St W 1/2Bsmt, Toronto ON",,3800,43.6533813,-79.3970697
2,"803 KING ST W, Toronto ON",3302,69,43.6428481,-79.407235
3,"1225 Kennedy Rd 2000K1, Toronto ON",0.009,2900,43.7561791,-79.2751536
4,"1270 Finch Ave W 2101, Toronto ON",,2500,43.765222,-79.488273
...,...,...,...,...,...
262,"817 DUNDAS ST W Main, Toronto ON",720,2600,43.6515517,-79.4087347
263,"377 BROADVIEW AVE 101, Toronto ON",,35,43.6658349,-79.3526172
264,"5629 YONGE AVE, Toronto ON",169,3980,43.7805006,-79.4154526
265,"371 OLD KINGSTON RD 2, Toronto ON",500,2000,43.7834364,-79.169776
266,"870 BROWNS LINE Bsmt., Toronto ON",,750,43.6098931,-79.5492086

In [275]:
print(df.Area.value_counts, df.Latitude.value_counts)

<bound method IndexOpsMixin.value_counts of 0
1      2500
2      8200
3
4
       ...
262     720
263
264     169
265     500
266
Name: Area, Length: 267, dtype: object> <bound method IndexOpsMixin.value_counts of 0      43.6656659
1      43.6492593
2      43.6492593
3      43.6753773
4      43.6544457
          ...
262    43.6515517
263    43.6658349
264    43.7805006
265    43.7834364
266    43.6098931
Name: Latitude, Length: 267, dtype: object>

In [77]:
df=df[df.Area != '']

# Geocoding missing locations
There are still some address that have no coordinates. They are few, so I'll use geopy to geocode the remaining ones. I refrained from trying to geocode all the dataframe, because the webpage already had coordinates for many of the results; I figured I'd use that.

In [78]:
df.reset_index(inplace = True, drop = True)
df.to_csv('rentals3b.csv', index = False)

In [79]:
df=pd.read_csv('rentals3b.csv')

In [80]:
#Geocoding
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='Rental_venues_locations')
from geopy.extra.rate_limiter import RateLimiter
geocoder = RateLimiter(geolocator.geocode, min_delay_seconds=1.5)

In [81]:
#Save the addresses with missing coordinates to a new frame to modify it:
df_m = df[df.Latitude == 'None']
df_m.reset_index(inplace = True, drop = True)

In [82]:
#Drop the rows with no coordinates from the compiled dataframe:
df = df[df.Latitude != 'None']

In [83]:
#When Geopy uses Nominatin, it usually fails to return a coordinate when the address is wrong, or is pointing 
#to something specific like a particular office, warehouse or floor. I check wich address have that sort info:
def check_address():
    for i in range(df_m.shape[0]):
        try:
            df_m.loc[i, 'Latitude'] = geocoder(df_m.Address[i]).latitude
            df_m.loc[i, 'Longitude'] = geocoder(df_m.Address[i]).longitude
            print(i, 'OK')
        except:
            print(i, "Wrong address")

In [84]:
check_address()

0 Wrong address
1 Wrong address
2 Wrong address
3 Wrong address
4 Wrong address
5 Wrong address
6 OK
7 OK
8 OK
9 Wrong address
10 Wrong address
11 OK
12 Wrong address
13 OK
14 Wrong address
15 OK
16 Wrong address
17 Wrong address
18 Wrong address

In [85]:
df_m

,Address,Area,Rent,Latitude,Longitude
0,"600 QUEENS QUAY BLVD W 111&112, Toronto ON",3000.0,40.0,None,None
1,"6210 FINCH AVE W B108, Toronto ON",1720.0,35.0,None,None
2,"6100 FINCH AVE W E105, Toronto ON",1565.0,35.0,None,None
3,"2252 QUEEN ST E Main Fl, Toronto ON",1750.0,39.8,None,None
4,"4750 YONGE ST 124-126, Toronto ON",1268.0,55.0,None,None
5,"4675 STEELES AVE E 2E18&19, Toronto ON",200.0,1100.0,None,None
6,"1747 ST CLAIR AVE W A, Toronto ON",1000.0,3250.0,43.674,-79.4602
7,"635A BLOOR ST W 2, Toronto ON",700.0,1200.0,43.6643,-79.4146
8,"2323 BLOOR ST W 104, Toronto ON",455.0,35.0,43.6502,-79.48
9,"6100 FINCH AVE W E105, Toronto ON",1565.0,35.0,None,None
10,"U 1 2566 ST. CLAIR AVE W Unit 1, Toronto ON",1656.0,35.0,None,None
11,"440 DANFORTH AVE Main, Toronto ON",3000.0,48.0,43.6779,-79.3506
12,"2252 QUEEN ST E Main Fl, Toronto ON",1750.0,39.8,None,None
13,"2323 BLOOR ST W 209, Toronto ON",893.0,35.0,43.6502,-79.48
14,"4675 STEELES AVE E 2E16&17, Toronto ON",200.0,1000.0,None,None
15,"2415 ST CLAIR AVE W Main, Toronto ON",1400.0,2180.0,43.6693,-79.4818
16,"6100 FINCH AVE W E104, Toronto ON",1219.0,35.0,None,None
17,"68 ABELL ST 8 To 11, Toronto ON",2903.0,35.0,None,None
18,"6230 FINCH AVE W A102, Toronto ON",1403.0,35.0,None,None

In [86]:
#Treat the addresses with directions that throw off Nominatim
tags_to_drop = {'Address': {'W .{4,},': 'W,', 
                            ' .{3}-.{3}': '', 
                            ' .{4}&.{2}' : '', 
                            ' Main.*,':',',
                            'BLVD' : '',
                            'U 1 ' : '',
                            ' 8 To 11' : ''
                           }}

In [87]:
df_m = df_m.replace(tags_to_drop, regex = True)
df_m

                              Address    Area    Rent Latitude Longitude
0      600 QUEENS QUAY  W, Toronto ON  3000.0    40.0     None      None
1        6210 FINCH AVE W, Toronto ON  1720.0    35.0     None      None
2        6100 FINCH AVE W, Toronto ON  1565.0    35.0     None      None
3         2252 QUEEN ST E, Toronto ON  1750.0    39.8     None      None
4           4750 YONGE ST, Toronto ON  1268.0    55.0     None      None
5      4675 STEELES AVE E, Toronto ON   200.0  1100.0     None      None
6   1747 ST CLAIR AVE W A, Toronto ON  1000.0  3250.0   43.674  -79.4602
7       635A BLOOR ST W 2, Toronto ON   700.0  1200.0  43.6643  -79.4146
8     2323 BLOOR ST W 104, Toronto ON   455.0    35.0  43.6502    -79.48
9        6100 FINCH AVE W, Toronto ON  1565.0    35.0     None      None
10   2566 ST. CLAIR AVE W, Toronto ON  1656.0    35.0     None      None
11       440 DANFORTH AVE, Toronto ON  3000.0    48.0  43.6779  -79.3506
12        2252 QUEEN ST E, Toronto ON  1750.0    39.8     None      None
13    2323 BLOOR ST W 209, Toronto ON   893.0    35.0  43.6502    -79.48
14     4675 STEELES AVE E, Toronto ON   200.0  1000.0     None      None
15    2415 ST CLAIR AVE W, Toronto ON  1400.0  2180.0  43.6693  -79.4818
16       6100 FINCH AVE W, Toronto ON  1219.0    35.0     None      None
17            68 ABELL ST, Toronto ON  2903.0    35.0     None      None
18       6230 FINCH AVE W, Toronto ON  1403.0    35.0     None      None

In [88]:
check_address()

0 OK
1 OK
2 OK
3 OK
4 OK
5 OK
6 OK
7 OK
8 OK
9 OK
10 OK
11 OK
12 OK
13 OK
14 OK
15 OK
16 OK
17 OK
18 OK

In [89]:
df_m

                              Address    Area    Rent Latitude Longitude
0      600 QUEENS QUAY  W, Toronto ON  3000.0    40.0  43.6367  -79.3979
1        6210 FINCH AVE W, Toronto ON  1720.0    35.0  43.7425  -79.5898
2        6100 FINCH AVE W, Toronto ON  1565.0    35.0  43.7422  -79.5889
3         2252 QUEEN ST E, Toronto ON  1750.0    39.8   43.673  -79.2867
4           4750 YONGE ST, Toronto ON  1268.0    55.0  43.7602  -79.4109
5      4675 STEELES AVE E, Toronto ON   200.0  1100.0  43.8248  -79.3015
6   1747 ST CLAIR AVE W A, Toronto ON  1000.0  3250.0   43.674  -79.4602
7       635A BLOOR ST W 2, Toronto ON   700.0  1200.0  43.6643  -79.4146
8     2323 BLOOR ST W 104, Toronto ON   455.0    35.0  43.6502    -79.48
9        6100 FINCH AVE W, Toronto ON  1565.0    35.0  43.7422  -79.5889
10   2566 ST. CLAIR AVE W, Toronto ON  1656.0    35.0   43.668  -79.4886
11       440 DANFORTH AVE, Toronto ON  3000.0    48.0  43.6779  -79.3506
12        2252 QUEEN ST E, Toronto ON  1750.0    39.8   43.673  -79.2867
13    2323 BLOOR ST W 209, Toronto ON   893.0    35.0  43.6502    -79.48
14     4675 STEELES AVE E, Toronto ON   200.0  1000.0  43.8248  -79.3015
15    2415 ST CLAIR AVE W, Toronto ON  1400.0  2180.0  43.6693  -79.4818
16       6100 FINCH AVE W, Toronto ON  1219.0    35.0  43.7422  -79.5889
17            68 ABELL ST, Toronto ON  2903.0    35.0  43.6425  -79.4243
18       6230 FINCH AVE W, Toronto ON  1403.0    35.0  43.7417  -79.5895

The missing locations have been dealth with and can be returned to a new dataframe. And it's ready to add the neighbourhood number.

In [90]:
#Return the locations with formely missing coordinates to the scrapped dataframe:
df_clean = df.append(df_m)
df_clean.shape

(188, 5)

In [91]:
df_clean.to_csv('rentals4b.csv', index = False)

In [92]:
df_clean = pd.read_csv('rentals4b.csv')

The area information was scrapped both in square feet and in acres, this has to be addressed:

In [93]:
#One acre is equal to 43560 square feet:
conv = 43560

#All of the locations are smaller than one acre:
df_clean.Area = df_clean.Area.apply(lambda x: x*conv if x < 1 else x)

In [94]:
#Convert the coordinates columns to float:
convert_cols = {'Latitude':float, 'Longitude':float}
df_clean = df_clean.astype(convert_cols)

In [95]:
df_clean.dtypes

Address       object
Area         float64
Rent         float64
Latitude     float64
Longitude    float64
dtype: object

Some rent values are given in CAD / (ft² · year), these have to converted to CAD / month to have all the values consistent across the dataframe. This is achieved by multiplying the rent value given in CAD / (ft² · year) by `Area / 12`:

In [96]:
df_clean.Rent = df_clean.apply(lambda x: x['Rent']*(x['Area']/12) if x['Rent'] < 100 else x['Rent'], axis = 1)
df_clean

,Address,Area,Rent,Latitude,Longitude
0,"1139 MORNINGSIDE AVE 37, Toronto ON",3500.00,7000.000000,43.645663,-79.474971
1,"803 KING ST W, Toronto ON",3302.00,18986.500000,43.642848,-79.407235
2,"1225 Kennedy Rd 2000K1, Toronto ON",392.04,2900.000000,43.756179,-79.275154
3,"1269 DUNDAS ST W 200, Toronto ON",2500.00,7500.000000,43.649259,-79.424894
4,"384 YONGE ST 20, Toronto ON",257.00,1388.000000,43.659602,-79.382670
...,...,...,...,...,...
183,"4675 STEELES AVE E, Toronto ON",200.00,1000.000000,43.824832,-79.301521
184,"2415 ST CLAIR AVE W, Toronto ON",1400.00,2180.000000,43.669254,-79.481761
185,"6100 FINCH AVE W, Toronto ON",1219.00,3555.416667,43.742193,-79.588901
186,"68 ABELL ST, Toronto ON",2903.00,8467.083333,43.642528,-79.424301
187,"6230 FINCH AVE W, Toronto ON",1403.00,4092.083333,43.741685,-79.589494

# Adding neighbourhood number
For this project I refrain from using a geocoder to get the neighbourhood names, because I've taken the GEOjsons and the Toronto census from the official webpage, in those sources the neighbourhoods are coded in the same way. Using a geocoder would mean I wouldn't get the same neighbourhood name or code; it's something I tried and decided not to purse any further.

The purpose of wrangling this data is to get the average rental value per square feet of current, available commercial locations in Toronto. I decided to scrap two webpages instead of using an API, simply because I wanted to learn and practice web scrapping; also, most real states API have fees. This aproach may yield a smaller amount of data, but for the sake of cutting my teeth in as many aspects of a Data Science project as possible; scrapping the data my self gave me greater insight into the work that goes into a project.

To get the neighbourhood based only on the location data, I stumbled into a code that determines whether or not a coordinate lies inside the polygon defined by the GEOjson geometry data. Using that algoritm, I can use it to assign the Neighbourhood number according to the official Toronto codification.

In [97]:
#load GeoJSON file containing sectors:
with open('Toronto_Neighbourhoods.geojson') as f:
    js = json.load(f)

In [98]:
#Add the empty Neighbourhood column to the dataframe:
df_clean['Neighbourhood Number'] = 0

In [99]:
#Iterate on each row of the dataframe:
for i in range(len(df_clean.Address)):
    #Construct point based on lon/lat returned by geocoder:
    point = Point(df_clean.Longitude[i], df_clean.Latitude[i])
    
    #Check each polygon to see if it contains the point
    for feature in js['features']:
        polygon = shape(feature['geometry'])
        if polygon.contains(point):
            df_clean.loc[i, 'Neighbourhood Number'] = feature['properties']['AREA_SHORT_CODE']

In [100]:
df_clean

,Address,Area,Rent,Latitude,Longitude,Neighbourhood Number
0,"1139 MORNINGSIDE AVE 37, Toronto ON",3500.00,7000.000000,43.645663,-79.474971,87
1,"803 KING ST W, Toronto ON",3302.00,18986.500000,43.642848,-79.407235,82
2,"1225 Kennedy Rd 2000K1, Toronto ON",392.04,2900.000000,43.756179,-79.275154,126
3,"1269 DUNDAS ST W 200, Toronto ON",2500.00,7500.000000,43.649259,-79.424894,84
4,"384 YONGE ST 20, Toronto ON",257.00,1388.000000,43.659602,-79.382670,76
...,...,...,...,...,...,...
183,"4675 STEELES AVE E, Toronto ON",200.00,1000.000000,43.824832,-79.301521,130
184,"2415 ST CLAIR AVE W, Toronto ON",1400.00,2180.000000,43.669254,-79.481761,90
185,"6100 FINCH AVE W, Toronto ON",1219.00,3555.416667,43.742193,-79.588901,2
186,"68 ABELL ST, Toronto ON",2903.00,8467.083333,43.642528,-79.424301,84
187,"6230 FINCH AVE W, Toronto ON",1403.00,4092.083333,43.741685,-79.589494,2

In [101]:
df_clean.to_csv('toronto_rental_2b.csv', index = False)